body {
    background-image: url(assets/background.png);
}

.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1px;
    background-color: white;
    padding: 0;
}